/* Movie Map Styles */
.movie-map__content,
.movie-map-maximizer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: black;
}
.movie-map-carto {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	transition: opacity .4s ease-out;
	background: white;
	width: calc(100% - 480px);
	height: 100%;
	margin: 0;
	padding: 0;
}
.movie-map-carto__gmap {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.movie-trailer {
	opacity: 0;
	transition: opacity .4s ease-out;
	display: none;
	position: fixed;
	width: 800px;
	height: 450px;
	left: calc(50% - 400px);
	top: calc(50% - 225px);
}
.movie-map-layout.movie-map-layout--show-trailer .movie-trailer {
	opacity: 1;
	display: block;
}
.movie-map-layout.movie-map-layout--show-trailer .movie-map-carto,
.movie-map-layout.movie-map-layout--show-trailer .movie-panel {
	opacity: .3;
}
