/* Movie List Styles */
@media (max-width: 575px) {
	.movie-list,
	.movie-list__cell {
		padding: 0;
		margin: 0;
	}
}
@media (min-width: 576px) {
	.movie-list {
		padding: 12px;
	}
}

/* MDL Grid overrides */

@media (max-width: 575px) {
	.movie-list__cell {
		width: 100%;
	}
}

@media (min-width: 576px) {
	.movie-list__cell {
		width: calc((100% / 3) - 16px);
	}
}

@media (min-width: 768px) {
	.movie-list__cell {
		width: calc((100% / 4) - 16px);
	}
}

@media (min-width: 960px) {
	.movie-list__cell {
		width: calc((100% / 5) - 16px);
	}
}

@media (min-width: 1152px) {
	.movie-list__cell {
		width: calc((100% / 6) - 16px);
	}
}

@media (min-width: 1344px) {
	.movie-list__cell {
		width: calc((100% / 7) - 16px);
	}
}

@media (min-width: 1536px) {
	.movie-list__cell {
		width: calc((100% / 8) - 16px);
	}
}

@media (min-width: 1728px) {
	.movie-list__cell {
		width: calc((100% / 9) - 16px);
	}
}

@media (min-width: 1920px) {
	.movie-list {
		max-width: 1920px;
	}
	.movie-list__cell {
		width: calc((100% / 10) - 16px);
	}
}


/*@media (max-width: 2560px) {
	.movie-list__cell {
		width: calc((100% / 10) - 16px);
	}
}
@media (max-width: 1800px) {
	.movie-list__cell {
		width: calc((100% / 7) - 16px);
	}
}
@media (max-width: 1800px) {
	.movie-list__cell {
		width: calc((100% / 6) - 16px);
	}
}
@media (max-width: 1200px) {
	.movie-list__cell {
		width: calc((100% / 5) - 16px);
	}
}
@media (max-width: 920px) {
	.movie-list__cell {
		width: calc((100% / 4) - 16px);
	}
}
@media (max-width: 715px) {
	.movie-list__cell {
		width: calc((100% / 3) - 16px);
	}
}*/
