.movie-panel-top {
	position: fixed;
	top: 0;
	right: 0;
	width: inherit;
	height: 224px;
}
.movie-panel-top__backdrop {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	opacity: .6;
}
.movie-panel-top:before {
	content: '';
	background: #0e1626;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.movie-panel-top__poster {
	position: absolute;
	left: 32px;
	bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 120px;
	height: 180px;
}
.movie-panel-header {
	display: block;
	position: relative;
	height: 96px;
}
.movie-panel-header__row {
	padding-left: 16px;
	padding-right: 16px;
}
.movie-panel-header__row.movie-panel-header__row--sub-row {
	height: 32px;
	padding-bottom: 8px;
}
.movie-panel-header__title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	font-size: 24px;
	padding-top: 16px;
}
.movie-panel-header__fab {
	position: absolute;
	right: 16px;
	top: -28px;
}
.movie-panel-header__title-year {
	font-weight: 200;
	opacity: .6;
}
.movie-panel-header-genres {
	float: left;
	color: rgba(255, 255, 255, .5);
	width: 208px;
	padding-right: 16px;
}
.movie-panel-header-rating {
	float: right;
}
/* Breaking BEM rules */
.movie-panel-header-rating .movie-rating {
	width: 112px;
	margin: 0;
	padding: 0;
	color: white;
}
.movie-panel-header-rating .movie-rating__star {
	font-size: 14px;
}
.movie-panel-header-rating .movie-rating__text {
	color: rgba(255, 255, 255, .5);
	font-size: 11px;
	bottom: 3px;
}
