/* Movie Card Styles */
.movie-card {
	position: relative;
	padding: 0;
	margin: 0 auto 12px;
}
.movie-card-content {
	position: relative;
}
.movie-card-content-title__text,
.movie-card-content-title__subtitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
}
.movie-card-content-title__text {
	margin: 0;
	padding: 16px 0 4px;
	font-size: 16px;
	letter-spacing: -0.8px;
}
.movie-card-content-title__subtitle {
	font-size: 14px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}
.movie-card__poster {
	z-index: 2;
	position: relative;
	line-height: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

/* Movie Card Styles for Mobile */
@media (max-width: 575px) {
	.movie-card {
		width: 100%;
		height: auto;
		position: relative;
		margin: 8px 0;
		box-shadow: none;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}
	.movie-card__poster {
		position: absolute;
		left: 16px;
		top: 0;
		bottom: 16px;
		width: 30%;
		background-size: contain;
	}
	.movie-card-content {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: calc(70% - 32px);
	}
	.movie-card-content-title {
		padding-right: 16px;
	}
}

/* Movie Card Styles for Tablet/Desktop */
@media (min-width: 576px) {
	.movie-card {
		width: 160px;
		height: auto;
	}
	.movie-card-content {
		height: 120px;
	}
	.movie-card-content-title,
	.movie-rating {
		padding-left: 16px;
		padding-right: 16px;
	}
	.movie-card-content-title__text {
		width: 100%;
	}
	.movie-card__poster {
		width: 160px;
		height: 240px;
	}
}
